// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// ==========================================================================
// Variable overides (http://getbase.org/docs/css.html#variables)
// ==========================================================================

// Global Typography
//$base-background-color:                         #000 !default;


// Import Base
@import "node_modules/getbase/scss/base";

// Base Helpers
@import "node_modules/getbase/scss/base/_helpers";


// ==========================================================================
// Base SCSS overides overides
// ==========================================================================



// ==========================================================================
// Main Stylesheet
// ==========================================================================

body {
  background-color: white;
  text-align: center;
}

div {
  min-height: 50vh;
  max-height: 100vh;
}

#topper {
  height: 100vh;
  position: relative;
  h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
}

.middles {
  height: 50vh;
  h3 {
    color: white;
  }
}
.one {
  background-color: crimson;
}

.two {
  background-color: orange;
}

.three {
  background-color: gold;
}

.four {
  background-color: yellowgreen;
}

.five {
  background-color: green;
}

.six {
  background-color: deepskyblue;
}

.seven {
  background-color: mediumblue;
}
.eight {
  background-color: navy;
}
.nine {
  background-color: darkslateblue;
}
.nine {
  background-color: fuchsia;
}
.eleven {
  background-color: purple;
}
.twelve {
  background-color: black;
}

.small {
  height: 200px !important;
}


// ==========================================================================
// Brakepoint exapmles (to be deleted)
// ==========================================================================

h1 {
color: pink;
}

@include breakpoint(m) {
	.middles {
    height: 100vh;
  }
};

@include breakpoint(l) {
	h1 {
		color: blue;
	}
};


@include breakpoint(xl) {
	h1 {
		color: grey;
	}
};
